/* TODO FB: find out if/which build tools were used for the css etc.
 * Add style for custom background images overlaying the googlemaps.
 * N.B this /css/vdb.css is loaded, not /vdb.css.
 */
#background-customisation-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
  background-color: #f69;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#background-customisation-image.overlay {
  display: block;
}
/* Hide the rapportage button by default.
 * For the Fietsersbond, show the rapportage and hide the map button. */
#rapportage-button,
#responsive-rapportage-button {
  display: none;
}
.customisation.fietsersbond #rapportage-button,
.customisation.fietsersbond #responsive-rapportage-button {
  display: block;
}
.customisation.fietsersbond #map-button,
.customisation.fietsersbond #responsive-map-button {
  display: none;
}
