/* TODO FB: find out if/which build tools were used for the css etc.
 * Add style for custom background images overlaying the googlemaps.
 * N.B this /css/vdb.css is loaded, not /vdb.css.
 */
body {
  background-color: #fff;
}
#background-customisation-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
  background-image: none;
  background-color: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* Hide the rapportage button by default.
 * For the Fietsersbond, show the rapportage and hide the map button. */
#rapportage-button,
#responsive-rapportage-button {
  display: none;
}
.customisation.fietsersbond #rapportage-button,
.customisation.fietsersbond #responsive-rapportage-button {
  display: block;
}
.customisation.fietsersbond #map-button,
.customisation.fietsersbond #responsive-map-button {
  display: none;
}
/* Fietsersbond colour scheme. */
.customisation.fietsersbond .subnav,
.customisation.fietsersbond .side-panel .panel-heading {
  background-color: #ffd503;
  color: #231f20;
  border-color: #fff;
  border: none;
}
.customisation.fietsersbond .navbar-default .navbar-nav > li > a {
  color: #ffd503;
}
.customisation.fietsersbond .main-panel,
.customisation.fietsersbond .side-panel {
  border-color: #ffd503;
}
.customisation.fietsersbond .subnav .sub-nav-btn {
  border-color: #fff;
  background-color: #ffd503;
  color: #231f20;
  border-bottom: none;
}
.customisation.fietsersbond .subnav .sub-nav-btn.active {
  color: #231f20 !important; /* Override already defiend !important.. */
}
.customisation.fietsersbond #background-customisation-image {
  background-image: url('../img/background_fietsersbond.jpg');
  display: block;
}
/* Customise the logo, e.g. positioning or size. */
.customisation.fietsersbond .vdblogo {
  margin-top: -20px;
}
/* Responsive menu. */
.customisation.fietsersbond .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffd503;
}
.customisation.fietsersbond .navbar-default .navbar-nav > li > a {
  background-color: #fff;
  color: #231f20;
}
.customisation.fietsersbond .navbar-default .navbar-nav > li.active > a {
  background-color: #ffd503;
}
.customisation.fietsersbond .btn-default1 {
  border-color: #ffd503;
  color: #231f20;
}
.customisation.fietsersbond ul.dropdown-menu {
  background-color: #ffd503;
  color: #231f20;
}
.customisation.fietsersbond ul.dropdown-menu > li > a:hover,
.customisation.fietsersbond .dropdown-menu > li > a:focus {
  color: #231f20 !important;
}
.customisation.fietsersbond .btn-xs.btn-success {
  border-color: #ffd503;
  background-color: #ffd503;
  color: #231f20;
}
