    <!-- body -->  
    <div id="main-content" class="container">
	   
      <div class="col-md-3 hidden-sm hidden-xs hidden-md">
	    </div>
	    <!-- main container -->
	    <div class="col-lg-6 main-container marginbottom">
	        <div class="panel panel-default main-panel margintop">
             <div class="alert alert-danger {{hide}}" >
                                  <a class="close {{hide}}" aria-label="close" ng-click="close()" >&times;</a>
                                  <p>{{errorTitle}}</p>
                                  <p>{{errorDescription}}</p>
                                  <p>{{errorId}}</p>
                                  <p>{{errorLocation}}</p>
                                  <p>{{errorRealization}}<p>
                                  <p>{{errorInitials}}</p>
                                  <p>{{errorCity}}</p>
                                  <p>{{errorSurname}}</p>
                                  <p>{{errorEmail}}</p>
                                  <p>{{errorPostcode}}</p>
                                  <p>{{errorStreet}}</p>
                                  <p>{{errorStreetNumber}}</p>
              </div>
		        <h1 class="marginheader meldingheader">Nieuwe Probleem</h1>
                <div class="marginheader meldingheader switchButton " ng-click="switchButton()">
                <div class="icon-problem"></div>probleem
                <div class="{{initslide}} {{slide}}" >
                <button></button>
                </div>
                <div class="icon-idea"></div>idee
            </div>
            <div class="problem">
		        <form class="form-horizontal" role="form">
                              <div class="panel-body">
                                <h4>1. Bepaal de locatie</h4>
                                <div class="well well-sm locationpicker-well">
                                  <fieldset class="gllpLatlonPicker">
                                  <div class="input-group" style="width:100%; margin-left:0; ">
                                     <form>
                                     <input type="text" class="form-control gllpSearchField" placeholder="Vul hier het adres in, of sleep de marker..." ng-model="searchCityCreate" ng-submit="expression">
                                     </form>
                                     <span class="input-group-btn">
                                        <button class="btn btn-primary gllpSearchButton" type="button" ng-click="clickSearchCreateIssue()"><span class="glyphicon glyphicon-search"></span><span class="hidden-xs">Zoeken</span></button>
                                     </span>
                                  </div>
                                  <div class="gllpMap" id="googleMapCreateProblem" ng-click="categoriesData()"></div>
                                  <input type="hidden" class="gllpLatitude" value="52.158367"/>
                                  <input type="hidden" class="gllpLongitude" value="4.492999"/>
                                  <input type="hidden" class="gllpZoom" value="12"/>
                                  <input type="text" class="gllpLocationName noborder" id="location" readonly size=20/>
                                  <p class=" warning-text text-primary">Deze gemeente heeft niet aangegeven dat ze uw melding binnenin behandeling nemen binnen 4 weken"</p>
                                </fieldset> 
                              </div>
                            </div>
                            <div class="panel-body">
                                <h4>2. Beschrijf de melding</h4>
	                             <div class="form-group">
                                    <div class="col-sm-12 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorTitle}">
                                        <input type="text" class="form-control" id="Onderwerp" placeholder="Onderwerp" ng-model="title">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="loadCategory">
                                    <div class="col-sm-12 form-col" style="margin-bottom: 10px;">
                                       categorieën worden opgehaald...
                                    </div>
                                </div>
                               <div class="form-group" ng-hide="loadCategory">
                                    <div class="col-sm-12 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorId}">
                                        <select class="combobox" id="category" ng-model="categoryId" ng-options="categories.id as categories.title for categories in categoriesList" style="{{errorIdStyle}}" ng-click="duplicateData(categories.id)">
                                            <option value=""  disabled selected>Categorie</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="count==0||count==null">
                                    <p>Mogelijke dubbele meldingen. Bekijk of bij deze meldingen misschien jouw probleem al gemeld is. Klik er dan op om deze melding te steunen</p>
                                    
                                    <div class="duplicate-wrapper">
                                        <div class="duplicate-left" ng-hide="count<=4" ng-click="moveDuplicate(-1)">&lang;</div>
                                        <div class="duplicate-container">
                                            
                                            <div class="duplicate-hidden-block" style="{{blockstyle}}"> 
                                            </div>
                                            
                                            <a href="meldingen/{{duplicateData.id}}" ng-repeat="duplicateData in duplicateDataList">
                                                <div class="duplicate-item" >

                                                   <p>{{duplicateData.title}}</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="duplicate-right" ng-hide="count<=4" ng-click="moveDuplicate(1)">&rang;</div>
                                    </div>
                                        
                                        
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col" ng-class="{'has-error':errorDescription}">  
                                        <textarea class="form-control" rows="5" id="description" placeholder="Beschrijving" ng-model="description"></textarea>
                                    </div>
                                </div>
                                <!--<label class="control-label">Select File</label>-->
                                <p>Foto uploaden (optioneel)</p>
                                <input id="file-input-problem" type="file" style="width: 94%;margin-left: 3%;" data-show-upload="false" img-upload='imgData'>
                            </div>
                            <div class="panel-body" ng-hide="hideLogin">
                                <h4>3. Contactgegevens</h4>
                                Of <a href="login">log in</a> om dit over te slaan
                                <div class="form-group">
                                    <div class="col-sm-12 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorEmail}" >
                                        <input type="text" class="form-control" id="email" placeholder="E-mailadres" ng-model="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-sm-2 form-col" style="margin-bottom: 10px;">
                                            <select class="combobox" id="sex" style="width:97%;" ng-model="sex" ng-options="template.value as template.name for template in sexoption">
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorInitials}">
                                            <input type="text" class="form-control" id="initials" placeholder="voorletters" style="width:97%;" ng-model="initials">
                                        </div>
                                        <div class="col-sm-3 form-col" style="margin-bottom: 10px;">
                                            <input type="text" class="form-control" id="tussenvoegsel" placeholder="tussenvoegsel" style="width:97%;" ng-model="tussenvoegsel">
                                        </div>
                                        <div class="col-sm-4 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorSurname}">
                                            <input type="text" class="form-control" id="name" placeholder="Achternaam" ng-model="surname" >
                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorStreet}">
                                        <input type="text" class="form-control" id="street" placeholder="Straat" style="width:98%;" ng-model="address">
                                    </div>
                                    <div class="col-sm-4 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorStreetNumber}">
                                        <input type="text" class="form-control" id="number" placeholder="Huisnummer" ng-model="address_number" >
                                    </div>
                                    <div class="col-sm-4 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorPostcode}">
                                        <input type="text" class="form-control" id="postcode" placeholder="Postcode" style="width:97%;" ng-model="postcode">
                                    </div>
                                    <div class="col-sm-8 form-col" style="margin-bottom: 10px;" ng-class="{'has-error':errorCity}">
                                        <input type="text" class="form-control" id="city" placeholder="Plaats" ng-model="city">
                                    </div>
                                    <div class="col-sm-12 form-col" style="margin-bottom: 10px;">
                                        <input type="text" class="form-control" id="telephonenumber" placeholder="Telefoonnummer (optioneel)" ng-model="phone">
                                    </div>
                                </div>
                            </div>
                            </form>

                          <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="reset()">Annuleren</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createIssue()">Verzenden</button>
                        </div>            
                    </div>   
                    </div>  
                     
	    </div>
	    
	    <!--  sidebar right -->
	    <div class="col-lg-3 hidden-xs " ng-hide="results.length == 0 || myIssuesList == null">
		    <div class="panel side-panel panel-default">
	                <div class="panel-heading">
                            <strong>Mijn Meldingen</strong>
                        </div>
      			            <div class="panel-body">
                          <div class="list-group" >
                            <a href="/mijn-meldingen/{{myIssues.id}}" class="list-group-item clearfix" ng-repeat="myIssues in myIssuesList| orderBy : 'created_at' : true |limitTo:3  | filter : x as results" ng-click="clickIssues()">
                              <img class="icon" src="./img/icon_2_21_21.png" size="20px"/>
                              <strong> {{myIssues.title}}</strong> {{myIssues.location.full_address}}
                              {{myIssues.status}}
                              <span class="pull-right">
                                <button class="btn btn-xs btn-success" >
                                  <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                                </button>
                              </span>
                            </a>
                          </div>
                        </div>  
		    </div>
	    </div>    
    </div>

<!-- Page specific js -->
<!--script src="path/to/js/fileinput_locale_en.js"></script-->
<script src="/js/bootstrap-fileinput/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-fileinput/fileinput.min.js" type="text/javascript"></script>
<link href="/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script type='text/javascript'>
        $(document).ready(function() {
        	$('.subnav').affix({
      			offset: {
        			top: $('#navtop').height()
      			}
		});	
        });
        $("#file-input-problem").fileinput();
        $("#file-input-problem").fileinput({'showUpload':false});
        $("#file-input-idea").fileinput();
        $("#file-input-idea").fileinput({'showUpload':false});
</script>
