<body>
    
    
    <!-- body -->  
    <div id="main-content" class="container">
        <span us-spinner spinner-key="spinner-1"></span>
        <!--  sidebar left -->
        <div class="col-md-3 hidden-sm hidden-xs hidden-md">
          
        </div>
        <!-- main container -->
        <div class="col-lg-6 main-container marginbottom" ng-controller="forgotCtrl">
            <div id="{{overlay}}">
            <div class="panel panel-default main-panel margintop" >
                    <div class="alert alert-danger {{hide}}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="close">&times;</a>
                       
                        <p>{{errorFEmail}}</p>
            </div>
                
            <h1 class ="marginheader fontM"  >Wachtwoord vergeten</h1>
                        <form class="form-horizontal" role="form">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-12 form-col">
                                        <input type="text" class="form-control" id="email" placeholder="E-mailadres" ng-model="femail" ng-keyup="$event.keyCode == 13 && forgotpass()">
                                    </div>
                                </div>
                            </div>
                                
                            
                            <div id="side_bar" class="clearfix" style="margin-bottom:15px;">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!femail" ng-click="forgotpass()"style="float: right; position: relative; top: 5px; right: 45px;" >Verstuur</button>
                            </div>
                            
                        </form>
                </div>
            </div>
        </div>
        
        <div id="StemModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Resetten Wachtwoord Gelukts</h1>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Plaatsen</button>
                </div>
            </div>
        </div>
    </div>
        
        
        
    <!--  sidebar right -->
    <div class="col-lg-3 hidden-xs">
        </div>  
    </div>
</body>
<script type='text/javascript'>
</script>