<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Verbeterdebuurt &raquo; Hillegom &raquo; lantarenpalen die niet branden</title>
    <!--META-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="de lantarenpalen in de straat doen het al een week niet." />
    <meta name="keywords" content="Probleem Verlichting Margrietenlaan 30 Hillegom lantarenpalen die niet branden" />
    <meta name="title" content="Verbeterdebuurt &raquo; Hillegom &raquo; lantarenpalen die niet branden" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="beGZrRqprwpbGBDu-7NhQLUWr9-oi9xU0OBxcYoZXZE" />
    <meta property="og:site-name" content="Verbeterdebuurt" /><meta property="og:title" content="lantarenpalen die niet branden" /><meta property="og:description" content="de lantarenpalen in de straat doen het al een week niet." /><meta property="og:url" content="http://www.verbeterdebuurt.nl/melding/89289" /><meta property="og:image" content="http://www.verbeterdebuurt.nl/images/fb_image.png" />        <meta name="apple-itunes-app" content="app-id=398177951"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <!--STYLESHEET -->
    <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="/css/app.css">
    <link href="/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/vdb.css">

    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.js" ></script>
    <base href="/">
    <!--Loading Animation-->
    <script src="node_modules/spin.js/spin.js"></script>
    <script src="node_modules/angular-spinner/angular-spinner.js"></script>
    <!--Paging Script -->
    <script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
    <!--PAGE SPECIFIC SCRIPTS -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
   
</head>
<body ng-app="vdbApp" ng-controller="mainCtrl" >
    <div id="app-container">
        <!-- map div on the background -->
        <div id="background">
            <div id="googlemaps" class="city" ng-mousemove="alrCity()" ></div>
        </div>
        <input type="hidden" id="city"/>

        <!-- navigation -->
        <nav id="navtop" class="navbar navbar-default">
            <div class="container-fluid">
<!--
                <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="/"><img style="margin-top: -16px;" src="./img/Verbeterdebuurt-logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="nav navbar-nav hidden-lg hidden-sm hidden-md"> 
                        <li class="divider-vertical"></li>
                        <li class="{{homeSelected}}"><a href="/">Kaart</a></li>
                        <li class="divider-vertical"></li>
                        <li class="{{mentionSelected}}"><a href="mention">Melding maken</a></li>
                        <li class="divider-vertical"></li>
                        <li class="{{myIssuesSelected}}"><a href="myissues">Mijn meldingen</a></li>  
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-if="!loginStatus()">
                        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
                        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Inloggen</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-if="loginStatus()" >
                       {{lusername}}<a ng-click="logout()">log out</a>
                    </ul>
                </div>
            </div>
        </nav>
        

        <!-- SubNavigation -->
        <div class="navbar subnav hidden-xs" role="navigation">
            <div class="navbar-inner">
                <div class="container"> 
                    <ul class="pager subnav-pager"> 
                        <div class="btn-group-wrap btn-group">
                           <button type="button" id="map-button" class="{{homeSelected}} btn sub-nav-btn" ng-click="clickMenu('')">Kaart</button>
                           <button type="button" id="new-button" class="{{mentionSelected}} btn sub-nav-btn" ng-click="clickMenu('createissue')">Melding maken</button>
                            <button type="button" id="my-button" class="{{myIssuesSelected}} btn sub-nav-btn" ng-click="clickMenu('myissues')">Mijn meldingen</button>
                         </div>         
                    </ul>   
                </div>
            </div>
        </div>

          <div id="main-content" class="container" ng-view>

          </div>
        <div class="footer">
            <div class="footertext">
            <a href="http://blog.verbeterdebuurt.nl/apps/">Apps</a>*
            <a href="http://blog.verbeterdebuurt.nl/hoe-werkt-verbeterdebuurt-2/">Hoe werkt het</a>*
            <a href="http://blog.verbeterdebuurt.nl/">Blog</a>*
            <a href="http://blog.verbeterdebuurt.nl/contact/">Contact</a>*
            <a href="https://www.facebook.com/verbeterdebuurt/">Facebook</a>*
            <a href="https://twitter.com/verbeterdebuurt">Twitter</a>*
            </div>
        </div>
    </div>
</body>
</html>
<!-- Page specific js -->

<script src="/js/googlemapjs.js"></script>
<!-- <script src="/js/vdb-start.js"></script> -->
<script src="js/vdbangular.js"></script>



