
    <!-- body -->  
    <div id="main-content" class="container" ng-controller="loginCtrl">
	    <!--  sidebar left -->
	    <div class="col-md-3 hidden-sm hidden-xs hidden-md">
		  
	    </div>
	    <!-- main container -->
	    <div class="col-lg-6 main-container marginbottom">
          
	        <div class="panel panel-default main-panel margintop" >
                    <div class="alert alert-danger {{hide}}" >
                        <a class="close {{hide}}" aria-label="close" ng-click="close()" >&times;</a>
	                <p>{{errorMessage}}</p>
                    <p>{{errorSession}}</p>
		            </div>
                    <div id="side_bar" class="clearfix" style="margin-bottom:15px;">
                        <h1 class="fontM" style="margin-left: 15px;float: left;">Login</h1>
                        <button class="btn btn-primary" style=" margin-right: 17px;float: right; position: relative; top: 25px; right: 0px;" ng-click="register()" >Registreren</button>
                    </div>		    
                    <form class="form-horizontal" role="form">
                    
                    <div class="form-group">
                        <div class="col-sm-12 form-col">
                            <input type="text" class="form-control" id="username" placeholder="Gebruikersnaam of e-mailadres" ng-model="lusername" style="margin-left: 15px;" ng-keyup="$event.keyCode == 13 && login()">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 form-col">
                            <form ng-submit="login()">
                                <input type="password" class="form-control" id="password-1" placeholder="Wachtwoord" ng-model="lpassword" style="margin-left: 15px;" ng-keyup="$event.keyCode == 13 && login()">
                            </form>
                        </div>
                    </div>
                    <div class="checkbox" style="margin-left: 20px;">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Onthoud me
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 form-col">
                            <button type="button" style="width:100%;" class="btn btn-primary" ng-click="login()">Inloggen</button>
                        </div>
                    </div>
                    
                    <h5 style="text-align: center;">- of -</h5>
                    <div class="form-group">
                        <div class="col-sm-12 form-col">
                            <button type="button" style="width:100%;" ng-click="FBlogin()" class="btn btn-default">Inloggen met Facebook*</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 form-col">
                            <button type="button" style="width:100%;" class="btn btn-default" ng-click="forgotpass()">Wachtwoord Vergeten</button>
                        </div>
                    </div>
                    <div class="form-group small-text">
                        <p style="color:#999999;font-size:10px;padding:0px 10px;">*Schakel eventuele popup blockers uit om succesvol met social media te verbinden.</p>
                    </div>
                    </form>
                </div>
	       </div>
        </div>

	    <!--  sidebar right -->
	    <div class="col-lg-3 hidden-xs">
		   
	    </div>  
   

<!-- Page specific js
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="./js/vdb-start.js"></script>
<script src="./js/star-rating.js" type="text/javascript"></script>
<script type='text/javascript'>
    /* sticky subnav */
    $(document).ready(function() {
        $('.subnav').affix({
      	    offset: {
                top: $('#navtop').height()
      	    }
        });	
    });
</script>-->
