    <!-- body -->  
    <div id="main-content" class="container">
	    <!--  sidebar left -->
      
	    <div class="col-md-3 hidden-sm hidden-xs hidden-md">
                    <div class="panel side-panel panel-default" id="new-problem-widget">
                        <div class="panel-heading">
                            <strong>Report</strong>
                        </div>
            <div class="panel-body">
                          <div class="list-group" >
                            <strong>City:{{reportList.council}}</strong></br>
                      {{reportList.reports}} reports per Month</br>
                      {{reportList.solutions}} solution per Month
                          </div>
            </div>  
                    </div>
                    <div class="panel side-panel panel-default" id="new-problem-widget">
                        <div class="panel-heading">
                            <strong>Nieuwste problemen</strong>
                        </div>
      			<div class="panel-body">
                          <div class="list-group" >
                            <a href="/issues/{{newProblem.id}}" class="list-group-item clearfix " ng-repeat="newProblem in newProblemList| filter : {type:'problem'} | filter: {status:'!open'} | orderBy : 'created_at' : true |limitTo:3" ng-click="clickIssues()">
                              <img class="icon" src="./img/icon_2_21_21.png" size="20px"/>
                              <strong> {{newProblem.title}}</strong> {{newProblem.location.full_address}}
                              <span class="pull-right">
                                <button class="btn btn-xs btn-success" >
                                  <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                                </button>
                              </span>
                            </a>
                          </div>
            </div>  
		                </div>
                    <div class="panel side-panel panel-default">
                        <div class="panel-heading" id="active-idea-widget">
                            <strong>Actieve Ideeen</strong>
                        </div>
      			<div class="panel-body">
                          <div class="list-group">
                            <a href="/issues/{{newProblem.id}}" class="list-group-item clearfix" ng-repeat="newProblem in newProblemList| filter : {type:'idea'} | filter: {status:'!open'} | orderBy : 'created_at' : true |limitTo:3" ng-click="clickIssues()">
                              <img class="icon" src="./img/icon_idea_2_21_21.png" size="20px"/>
                              <strong>{{newProblem.title}}</strong> {{newProblem.location.full_address}}
                              <span class="pull-right">
                                <button class="btn btn-xs btn-success">
                                  <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                                </button>
                              </span>
                            </a>
                          </div>
                        </div>  
            </div>
            </div>
	    <!-- main container -->
	    <div class="col-lg-6 main-container">
                    <div class="alert alert-warning" id="message-widget">
                    Deze gemeente heeft nog niet aangegeven dat ze meedoen. Ze is natuurlijk wel verplicht om te regeageren op binnenkomende meldingen.

<i class="fa fa-flag"></i>

                </div>

	    </div>
	    <!--  sidebar right -->
	    <div class="col-lg-3">
                <div class="input-group" id="search-widget">
                                     <input type="text" class="form-control" placeholder="Zoek op adres" id="searchCity" ng-model="searchCity">
                                     <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" id="clickSearch" ng-click="clickSearch()"><span class="glyphicon glyphicon-search"></span><span class="hidden-xs">Zoeken</span></button>
                                     </span>
                </div>
	    </div>  
    </div>	
</body>
</html>
<!-- Page specific js -->
<!-- <script src="./js/vdb-start.js"></script> -->
<script type='text/javascript'>
        //placing the subnav fixed on top
        $(document).ready(function() {
        	$('.subnav').affix({
      			offset: {
        			top: $('#navtop').height()
      			}
		});	
        });
</script>
