<style>
        .successAlert
        {
        background-color: #3AB53A;
        border-color: #3AB53A;    
        }
    </style>

<body>
    
    
    
    
    <!-- body -->  
    <div id="main-content" class="container">
        <!--  sidebar left -->
        <div class="col-md-3 hidden-sm hidden-xs hidden-md">
          
        </div>
        <!-- main container -->
        <div class="col-lg-6 main-container marginbottom" >
            <div class="panel panel-default main-panel margintop" >
                    <div class="alert alert-danger  {{hide}} {{successClass}}">
                        <a href="#" class="close"  aria-label="close" ng-click="close()">&times;</a>
                    
                <p>{{errorFB}}</p>  
                <p>{{errorOldPassword}}</p>
                <p>{{errorNewPassword}}</p>
                <p>{{errorInitials}}</p>      
                <p>{{errorSurname}}</p>
                <p>{{errorAddress}} </p>
                <p>{{errorAddressN}}</p>
                <p>{{errorPostcode}}</p>
                <p>{{errorCity}}</p>
                <p>{{successAlert}}</p>
                <p>{{errorPassword3}}</p>
                      
                        
            </div>
                
            <h1 class="registerm registeri register fontM">Profiel</h1>
                        <form class="form-horizontal position1" role="form">
                            <div class="panel-body">
                                <h4 class="fontM">Inloggegevens</h4>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col" ng-class="{'has-error': errorNewUsername}">
                                        <input type="text" class="form-control" id="username" placeholder="Gebruikersnaam" ng-model="username" readonly="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col" ng-class="{'has-error': errorEmail}">
                                        <input type="text" class="form-control" id="email" placeholder="E-mailadres" ng-model="email" readonly="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col" ng-class="{'has-error': errorOldPassword}">
                                        <input type="password" style="margin-bottom: 15px"  class="form-control" id="password-1" placeholder="Oud wachtwoord" ng-model="password_old">
                                    </div>
                                    <div class="col-sm-12 form-col" ng-class="{'has-error': errorPassword3}">
                                        <input type="password" style="margin-bottom: 15px" class="form-control" id="password-2" placeholder="Nieuw wachtwoord " ng-model="password_new">
                                    </div>
                                     <div class="col-sm-12 form-col" ng-class="{'has-error': errorPassword3}">
                                        <input type="password" class="form-control" id="password-3" placeholder="Wachtwoord herhalen " ng-model="rpassword">
                                    </div>
                                </div>
                    </div>
                            <div class="panel-body">
                                <h4 class="fontM">Persoonsgegevens</h4>
                                <h5 style="color:green; margin-right: 26px;font-family: Merriweather;">Deze gegevens zijn nodig voor de gemeente om aan je melding te kunnen werken. Ze worden niet openbaar gemaakt en nooit gebruikt voor marketingdoeleinden.</h5>
                                <div class="form-group" ng-class="{'has-error': errorSex }" >
                                        <div class="col-sm-2 form-col marginwidth">
                                            <select class="combobox" id="category"  ng-model ="sex">
                                                <option value="m" ng-selected="selected1" >Dhr.</option>
                                                <option value="f" ng-selected="selected2" >Mw.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-col margin1 marginwidth" ng-class="{'has-error': errorInitials }">
                                            <input type="text" class="form-control margin2 margin2m" id="initials" placeholder="voorletters" ng-model="initials"  >
                                        </div>
                                        <div class="col-sm-3 form-col margin1 marginwidth" ng-class="{'has-error': errorMiddle }">
                                            <input type="text" class="form-control margin4 margin4m" id="tussenvoegsel" placeholder="tussenvoegsel" ng-model="tussenvoegsel" >
                                        </div>
                                        <div class="col-sm-3 form-col margin1 marginwidth1" ng-class="{'has-error': errorSurname }">
                                            <input type="text" class="form-control margin3 margin3m" id="name" placeholder="Achternaam" ng-model ="surname" >
                                        </div>
                                </div>
                               <div class="form-group">
                                    <div class="col-sm-8  form-col " ng-class="{'has-error': errorAddress}">
                                        <input type="text"   class="form-control field marginwidth " id="street" placeholder="Straat" ng-model ="address" >
                                    </div>
                                    <div class="col-sm-4 form-col " ng-class="{'has-error': errorAddressN}">
                                        <input type="text" class="form-control"   id="number" placeholder="Huisnummer" ng-model ="address_number">
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <div class="col-sm-4 form-col " ng-class="{'has-error': errorPost}">
                                        <input type="text" class="form-control field1 marginwidth "  id="postcode" placeholder="Postcode" ng-model="postcode">
                                    </div>
                                    <div class="col-sm-8 form-col" ng-class="{'has-error': errorCity}">
                                        <input type="text" class="form-control " id="city" placeholder="Plaats" ng-model="city" style="margin-bottom: 15px">
                                    </div>
                                    <div class="col-sm-12 form-col">
                                        <input type="text" class="form-control" id="telephonenumber" placeholder="Telefoonnummer (optioneel)" ng-model="phone">
                                    </div>
                                </div>
                            </div>
            
                            <div class="panel-body ">
                                <h4 class="fontM " style="margin-left: 5px;">Verbinden met social media</h4>
                                <table class="mediamargin mediamobile">
<!--
                                    <tr>
                                        <td style="padding-left:10px;padding-right:10px;"> 
                                           <img class="img-rounded" alt="Twitter" width="49" height="49" src="./img/twitter_s.png">
                                        </td>
                                        <td class="hidden-xs"> 
                                           Verbeterdebuurt verbinden met Twitter. Houd je vrienden op de hoogte!
                                        </td>
                                        <td style="padding-bottom: 10px;"> 
                                            <button type="button" class="btn btn-default marginmedia" style="width: 100%;"  disabled>Connect Twitter</button>
                                        </td>
                                    </tr>
-->
                                    <tr style="padding-top:10px;">
                                        <td style="padding-left:10px;padding-right:10px;"> 
                                           <img class="img-rounded" alt="Facebook" width="49" height="49" src="./img/facebook_s.png">
                                        </td>
                                        <td class="hidden-xs"> 
                                            Verbind Verbeterdebuurt met Facebook om eenvoudig in te loggen.
                                        </td>
                                        <td> 
                                            <button type="button" class="btn btn-default marginmedia" ng-click="connectFacebook()" ng-disabled="facebookExist">{{facebookMessages}}</button>
                                        </td>
                                    </tr>
                                </table>
                                 
                            </div>
                            
                            
                            <div class="submit-buttons">
                                <button type="button" class="btn btn-danger submitm bsubmit bmsubmit" data-dismiss="modal" ng-click="home()">Annuleren</button>
                                <button type="button" class="btn btn-success" ng-class="successAlert" data-dismiss="modal" ng-click="profile()"  >Opslaan</button>
                            </div>
                             
                            
                        </form>
                </div>
        </div>
        
                                    
    <!--  sidebar right -->
    <div class="col-lg-3 hidden-xs">
        </div>  
    </div>
</body>
<script type='text/javascript'>
</script>