<!-- body -->
<div id="main-content" class="container rapportage">
  <!-- left side panel -->
  <div class="col-md-3 hidden-sm hidden-xs hidden-md">
    <div class="panel side-panel panel-default" id="new-problem-widget">
      <div class="panel-heading">
        <strong>Fietsersbond</strong>
      </div>
      <div class="panel-body">
        <div class="list-group report-list-council" ng-hide="reportList.council == null || reportList.council == 'undefined' " >
          <p>
            <strong>Afdeling: {{departmentSelected.name}}</strong>
            <br>Gemeente: {{reportList.council}}
            <br>{{agreement.agreement}}
          </p>
        </div>
        <div class="list-group report-list-council"  ng-show="reportList.council == null || reportList.council == 'undifined' ">
          geen locatieinformatie gevonden
        </div>
      </div>
    </div>

    <div class="panel side-panel panel-default" id="new-problem-widget">
      <div class="panel-heading">
        <strong>Vorige maand</strong>
      </div>
      <div class="panel-body">
        <p style="padding-left:10px;">
          {{reportList.reports}} nieuwe meldingen<br>
          {{reportList.solutions}} behandelingen<br>
        </p>
        <a class="list-group-item clearfix" onclick="rapportage_show_details()">
          <strong>Details</strong>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" >
              <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
            </button>
          </span>
        </a>
      </div>
    </div>

    <div class="panel side-panel panel-default" id="new-problem-widget">
      <div class="panel-heading">
        <strong>Voorbeeld analyses</strong>
      </div>
      <div class="panel-body">
        <ul>
          <li><a onclick="rapportage_chart_one()">Meldingen over tijd</a></li>
          <li><a onclick="rapportage_chart_two()">Opgeloste problemen en uitgevoerde ideeën</a></li>
          <li><a onclick="rapportage_chart_three()">Tevredenheid over de afdeling</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- main container -->
  <div class="col-lg-6 main-container">
    <div class="alert alert1 alert-warning fontM" id="message-widget" ng-show="showAgreement()">
      Kies een specifieke melding om de inhoud te bekijken.
      Deze meldingen zijn uit de afdeling: {{departmentSelected.name}}
      <i class="fa fa-flag"></i>
    </div>
    <div class="alert  alert-warning fontM" id="zoomedout-widget" ng-hide="zoomedInEnoughToShowIssues()">
      Zoom in om Fietsersbond meldingen op de kaart te zien.
      <i class="fa fa-flag"></i>
    </div>
    <div id="rapportage-main-panel" class="panel panel-default main-panel margintop">
      <a style="float:right;padding:0;" class="list-group-item clearfix" onclick="rapportage_hide_details()">
        <span class="pull-right">
          <button class="btn btn-xs btn-success" >
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
      </a>
      <h4 style="margin-top:0;margin-left:0;" class="fontM meldingheader">Rapportage Fietsersbond {{departmentSelected.name}}]</h4>
      <p style="color:grey;">Selectie van <span id="rapportage-from-date">...</span> tot <span id="rapportage-to-date">...</span></p>
      <div id="chart-fietsersbond"></div>
      <hr>
      <div id="chart-fietsersbond-secondary"></div>
      <a style="width:246px;height:42px;" class="list-group-item clearfix">
        <strong>CSV downloaden</strong>
        <span class="pull-right">
          <button class="btn btn-xs btn-success" >
            <span class="glyphicon glyphicon-save"></span>
          </button>
        </span>
      </a>
    </div>
  </div>

  <!-- right side panel -->
  <div class="col-lg-3 right-panel hidden-sm hidden-xs hidden-md ">
    <div class="panel side-panel panel-default">
      <div class="panel-heading">
        <strong>Afdelingen</strong>
      </div>
      <div class="panel-body">
        <div class="input-group searchMap" id="search-widget">
          <form>
            <input type="text" class="form-control" placeholder="Zoek op adres" id="searchCity" ng-model="searchCity">
          </form>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="clickSearch" >
              <span class="glyphicon glyphicon-search"></span>
              <span class="hidden-xs">OK</span>
            </button>
          </span>
        </div>
        <div class="input-group searchMap">
          <p style="margin-top:1em;"><strong>Kies een afdeling</strong></p>
          <!--
          <select class="ng-pristine ng-valid ng-empty ng-touched">
          -->
          <select class="combobox" id="department-select" ng-model="departmentIdSelected" ng-options="department.id as department.name for department in departmentsList" ng-click="departmentSelectionClick()">
            <option value=""  disabled selected>Afdeling</option>
          </select>
        </div>
      </div>
    </div>
  </div>

<!-- TODO FB: check if the html is properly finished. -->
</div>  
</body>
</html>
<!-- TODO FB: check if below is required for the rapportage. -->
<!-- Page specific js -->
<script type='text/javascript'>
  //placing the subnav fixed on top
  $(document).ready(function() {
    $('.subnav').affix({ offset: { top: $('#navtop').height() } });  
  });
</script>
<style type="text/css">
  @media (min-width: 1199px) { .pac-container, .pac-item { width: 240px !important; } }
</style>
