<body>
    
    
    <!-- body -->  
    <div id="main-content" class="container">
        <!--  sidebar left -->
        <div class="col-md-3 hidden-sm hidden-xs hidden-md">
          
        </div>
        <!-- main container -->
        <div class="col-lg-6 main-container">
            <div class="panel panel-default main-panel" ng-controller="registerCtrl">
                    <div class="alert alert-danger {{hide}}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="close">&times;</a>
                        <p>{{errorEmail}}</p>
                        <p>{{errorNewUsername}}</p>
                        <p>Sex {{errorSex}}</p>
                        <p>{{errorSurname}}</p>
                        <p>{{errorAddress}}</p>
                        <p>{{errorAddressN}}</p>
                        <p>{{errorPost}}</p>
                        <p>{{errorCity}}</p>
                        <p>{{errorPassword}}</p>
                        <p>{{errorPassword1}}</p>
                        <p>{{errorInit}}</p>
                        <p>{{errorMiddle}}</p>
                        
                        
            </div>
            <h1>Registreren</h1>
                        <form class="form-horizontal" role="form">
                            <div class="panel-body">
                                <h4>Inloggegevens</h4>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col">
                                        <input type="text" class="form-control" id="email" placeholder="E-mailadres" ng-model="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col">
                                        <input type="text" class="form-control" id="username" placeholder="Gebruikersnaam" ng-model="username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 form-col">
                                        <input type="password" class="form-control" id="password-1" placeholder="Wachtwoord" ng-model="password1">
                                    </div>
                                    <div class="col-sm-12 form-col">
                                        <input type="password" class="form-control" id="password-2" placeholder="Wachtwoord herhalen" ng-model="password2">
                                    </div>
                                </div>
                    </div>
                            <div class="panel-body">
                                <h4>Persoonsgegevens</h4>
                                <div class="form-group">
                                        <div class="col-sm-2 form-col">
                                            <select class="combobox" id="category" style="width:100%;height:34px;" ng-model="sex">
                                                <option value="0"></option>
                                                <option value="m">Dhr.</option>
                                                <option value="f">Mw.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-col">
                                            <input type="text" class="form-control" id="initials" placeholder="voorletters">
                                        </div>
                                        <div class="col-sm-3 form-col">
                                            <input type="text" class="form-control" id="tussenvoegsel" placeholder="tussenvoegsel" ng-model="tussenvoegsel">
                                        </div>
                                        <div class="col-sm-4 has-error form-col">
                                            <input type="text" class="form-control" id="name" placeholder="Achternaam" ng-model ="surname">
                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 has-error form-col">
                                        <input type="text" class="form-control" id="street" placeholder="Straat" ng-model ="address">
                                    </div>
                                    <div class="col-sm-4 form-col">
                                        <input type="text" class="form-control" id="number" placeholder="Huisnummer">
                                    </div>
                                    <div class="col-sm-4 form-col">
                                        <input type="text" class="form-control" id="postcode" placeholder="Postcode">
                                    </div>
                                    <div class="col-sm-8 form-col">
                                        <input type="text" class="form-control" id="city" placeholder="Plaats">
                                    </div>
                                    <div class="col-sm-12 form-col">
                                        <input type="text" class="form-control" id="telephonenumber" placeholder="Telefoonnummer (optioneel)">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h4>Verbinden met social media</h4>
                                <table style="margin:15px;">
                                    <tr>
                                        <td style="padding-left:10px;padding-right:10px;"> 
                                           <img class="img-rounded" alt="Twitter" width="49" height="49" src="./img/twitter_s.png">
                                        </td>
                                        <td class="hidden-xs"> 
                                           Verbeterdebuurt verbinden met Twitter. Houd je vrienden op de hoogte!
                                        </td>
                                        <td> 
                                            <button type="button" class="btn btn-default">Connect Twitter</button>
                                        </td>
                                    </tr>
                                    <tr style="padding-top:10px;">
                                        <td style="padding-left:10px;padding-right:10px;"> 
                                           <img class="img-rounded" alt="Facebook" width="49" height="49" src="./img/facebook_s.png">
                                        </td>
                                        <td class="hidden-xs"> 
                                           Verbeterdebuurt verbinden met Facebook. Houd je vrienden op de hoogte!
                                        </td>
                                        <td> 
                                           <button type="button" class="btn btn-default">Connect Facebook</button>
                                        </td>
                                    </tr>
                                </table>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Ik ben akkoord met de Algemene Voorwaarden
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Ik wil graag de nieuwsbrief ontvangen
                                    </label>
                                </div>
                            </div>
                            
                            <div class="submit-buttons">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="register()">Registreren</button>
                            </div>
                        </form>
                </div>
        </div>
        
    <!--  sidebar right -->
    <div class="col-lg-3 hidden-xs">
        </div>  
    </div>
</body>
<script type='text/javascript'>
</script>